
New folder/Week2Session1/Week2Session1/Week2Session1.csproj
New folder/Week2Session1/Week2Session1/Properties/AssemblyInfo.cs
New folder/Week2Session1/Week2Session1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
New folder/Week2Session1/Week2Session1/bin/Debug/Week2Session1.vshost.exe.manifest
New folder/Week2Session1/Week2Session1/bin/Debug/Week2Session1.vshost.exe
New folder/Week2Session1/Week2Session1.v11.suo
New folder/Week2Session1/Week2Session1.sln
/PRG351_Java/Java_Mod_5/nbproject/private/
/PRG351_Java/Java_Mod_5/build/
/PRG351_Java/Java_Mod_5/dist/